<!DOCTYPE html>
<html>
  <head>
    <title>Gallant Test </title>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.css' />
  </head>
  <body>
   <div id='jsGrid'>
     
     
   </div>
    
    <!--  <table id="tst_tbl">
      <thead>
      <tr>
        <th>Staff ID</th>
        <th>Staff Type</th>
        <th>NPI Number</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <% for(var i=0; i < records.length; i++) { %>
    
      <tr>
        <td><%= records[i].SQUIRE_STAFF_ID %></td>
        <td><%= records[i].Staff_Type %></td>
        <td><%= records[i].NPI_Number %></td>
        <td><%= records[i].First_Name %></td>
        <td><%= records[i].Last_Name %></td>  
      </tr> 
    <% } %> 
    </table>-->
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.js'></script>
  <script type='text/javascript' src='/javascripts/jsgrid.js'></script>
  </body>
</html>
