<!DOCTYPE html>
<html>
  <head>
    <title>Gallant Test </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    
        <table id="tst_tbl">
      <thead>
      <tr>
        <th>Staff ID</th>
        <th>Staff Type</th>
        <th>NPI Number</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <% for(var i=0; i < records.length; i++) { %>
    
      <tr>
        <td><%= records[i].SQUIRE_STAFF_ID %></td>
        <td><%= records[i].Staff_Type %></td>
        <td><%= records[i].NPI_Number %></td>
        <td><%= records[i].First_Name %></td>
        <td><%= records[i].Last_Name %></td>  
      </tr> 
    <% } %> 
    </table>
  </body>
</html>
